/**
* COMMON LAYOUT
*/

html, body {
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}

body {
    display: -ms-flex !important; 
    display: -webkit-flex !important; 
    display: flex !important; 
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#header {
    background-color: #fff;
}

.container {
    background-color: #eee;   
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

#container-outer {
    padding: 0; 
    width: 100%;
}

.ui-layout-pane {
    background-color: #eee;
    border-width: 0;
    padding: 0;
}
.mainblock {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15); 
    overflow: inherit;
}

#block-tree {
    margin: 5px 0 5px 5px;
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
}

#block-editor {
    margin: 5px 5px 0 0;
    height: -webkit-calc(100% - 5px);
    height: calc(100% - 5px);
}

#block-console {
    margin: 0 5px 5px 0px;
    height: -webkit-calc(100% - 5px);
    height: calc(100% - 5px);
}

.block-header {
    background: rgb(204,213,229);
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    padding: 0 1px 0 6px;
    height: 18px;
}

.block-header-button {
    float: right;
    border: 1px solid #ccc;
    height: 17px;
    width: 17px;
    margin-left: 2px;
}

.block-header-icon {
    top: -1px;
    left: -4px;
}

#tree {
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: overlay;
}

#console {
    height: -webkit-calc(100% - 48px);
    height: calc(100% - 48px);
    overflow: overlay;
}

.ui-layout-resizer {
    background-color: #eee;
    border-width: 0;                        
}

.dropdown-menu {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.contextMenu {
    position: absolute !important;
    z-index : 100;
}

/**
* HEADER-TOP
*/

#header-top {
    height: 68px;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

#header-top #logo {
    width: 155px;
    height: 25px;
    margin: 8px 0 0 8px;
    float: left;
    padding: 0;
}

#logo .bracket {
    display: inline;
    width: 32px;
    height: 32px;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: inherit;
}

#logo h2 {
    display: inline;
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-left: 2px;
}

#logo h2 a {
    text-decoration: none;
    color: #388de7;
}

#header-top {
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#header-top-left {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;   
}

#header-top #projectname {
    height: 20px;
    margin: 10px 0 0 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    color: #333;
    float: left;
}

#header-top #username {
    height: 20px;
    margin: 12px 10px 0 0;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

#header-top #username a {
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;  
}

#header-top #bottom {
    position: absolute;
    margin: 42px 0 0 0;
    padding: 0;
    width: 100%;
}

#header-top #bottom #main_menu {
    margin: -5px 0 0 10px;
    height: 20px;
    float: left;
    position: relative;
}

/**
* MAIN MENU
*/

.dropdown a {
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    cursor: default;
    color: #0e0e0e; 
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#main_menu .dropdown-toggle {
    margin: 0;
    padding: 5px 6px;
}

#header-top #bottom #latest_update {
    color: #b3b3b3;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    position: relative;
    float: left;
    margin: 0px 0 0 55px;
}

#header-top #username {
    height: 20px;
    margin: 12px 10px 0 0;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
}

/**
* HEADER-BOTTOM
*/

#header-bottom {
    height: auto;
    min-height: 37px;
    position: relative;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #dadada;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#eee);
    background-image: linear-gradient(top,#f5f5f5,#eee);
}

#header-bottom #editor_buttons {
    width: 304px;
    height: 18px;
    list-style: none;
    /*border: 1px solid red;*/
    margin: 6px 0 0 15px;
    position: relative;
    float: left;
    padding: 0;
}

#editor_buttons li {
    display: inline;
    margin-right: 5px;
    cursor: default;
    font-size: 18px;
}

#editor_buttons li input {
    width: 18px;
    height: 18px;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: default;
}

#editor_buttons div.separator {
    width: 1px; 
    height: 38px; 
    border-left: 1px solid #ccc; 
    display: inline; 
    position: absolute; 
    margin: -7px 0 0 0;
}

#editor_buttons div#end.separator {
    border-left: 1px solid #333 !important;
    margin-left: 18px;
}

#header-bottom #tabpanel {
    height: auto;
    min-height: 36px;
    list-style: none;
    border-left: 1px solid #ccc;
    position: relative;
    float: left;
    padding: 0 5px 3px 5px;
    margin: 0;   
}

ul#tabpanel li {
    float: left;
    display: inline;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    padding: 3px 0 3px 22px;
    margin-right: 5px !important;
    margin-top: 5px !important;
    background-repeat: no-repeat;
    background-position-x: 5px !important; 
    background-position-y: 4px !important;
    background-position: 3% 50%;
    background-color: #eee;
    cursor: default;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.15); 
}

ul#tabpanel li div.close {
    width: 10px;
    height: 10px;
    margin: 0 3px 0 3px;
    padding: 0;
    float: right;
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

ul#tabpanel li.active{background-color: #fff !important}
ul#tabpanel li.modified{font-weight: bold !important}
ul#tabpanel li.class{background-image: url('img/idea-class.png')}
ul#tabpanel li.interface{background-image: url('img/idea-class-interface.png')}
ul#tabpanel li.runnable{background-image: url('img/idea-class-runnable.png')}
ul#tabpanel li.exception{background-image: url('img/idea-class-exception.png')}
ul#tabpanel li.enum{background-image: url('img/idea-class-enum.png')}
ul#tabpanel li.annotation{background-image: url('img/idea-class-annotation.png')}
ul#tabpanel li.notfound{font-style: italic; color:#777777; padding-left: 5px;}
ul#tabpanel li.help{background-image: url('img/idea-libs.png')}

/**
*   FONTS
*/

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('Open Sans Regular'), url('fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('Open Sans Bold'), url('fonts/opensans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('Open Sans Semibold Regular'), url('fonts/opensans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}